html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.element {
    width: 732px;
    height: 678px;
    background-image: url("../images/Kalkulator\ walut.png");
    resize: both;
    overflow: auto;
    background-size: 300px;
    background-color: #ccc;
    background-repeat: repeat-x;
    background-position: bottom;

}

.style {
    font-family: "Lato", sans-serif;
    background-color: #aedff657;
}

.body {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px 20px;
}

.form__fieldset {
    border: 1px solid #110455;
    background-color: #aedff6;
    padding: 10px;
    margin: 10px 0;
}

.form__legend {
    border-radius: 5px;
    padding: 20px;
    font-weight: 700;
}

.fotm__labelText {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 100%;
    max-width: 250px;
    margin-right: 5px;
}

.form__field {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #00021c;
}

.form__button {
    width: 100%;
    border: none;
    background-color: #110455;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    font-weight: 700;
}

.form__button:hover {
    cursor: pointer;
    background-color:#4984b4;
}

.form__button:active {
    background-color:#aedff6;
}

.form__result {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #aedff6;
    font-size: large;
    font-weight: bold;
}